<div class="container">
  <% @bookings.each do |booking| %>
    <div class="rating-card">
      <h3>Your booking <em>(ref: #<%= booking.id %>)</em></h3>
      <h2><strong><%= Bbq.find(booking.bbq_id).title %></strong></h2>
      <h4>from</h4>
      <h3><%= booking.start_date %></h3>
      <h4>to</h4>
      <h3><%= booking.end_date %></h3>
    </div>
  <% end %>
  </ul>
</div>
