.bbq-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
}

.bbq-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  align-items: center;
  p {
    margin: 0;
  }
  img {
    border: 2px solid blue;
    height: 60%;
    width: 100%;
  }
  .meta {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .left, .right {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
  .right {
    align-items: flex-end;
  }
}
