.bbq-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  gap: 15px;
  margin-top: 35px;
}

.bbq-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  align-items: center;

  h5 {
    font-weight: bold;
  }

  h6 {
    font-size: medium;
    opacity: .5;
  }



  img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }
  .meta {
    height: 40%;
    width: 100%;
    flex-direction: row;
  }
  .soft-text {
    font-weight: 400 !important;
    font-style: normal !important;
    opacity: 0.9;
  }
}

.first_element {
  display: flex;
  margin-top: 10px;
  margin-right: 3.5px;
  .p{
    font-size: 12px;
  }
}

.second_element{
  p{
    margin-left: 3.5px;
    font-weight:bold;
    text-decoration: underline;
    margin-left: 3.5px;
  line-height: 0.75em;
  }
}

.text-muted {
  margin-left: 3.5px;
  line-height: 0.75em;
}


@media (min-width: 550px) {
  .bbq-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .bbq-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .bbq-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
